{{block "count-index" .}}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
    <body>

        <h1 id="count">
            {{template "count" .}}
        </h1>

        <button hx-post="/count"
                hx-target="#count"
        >
            plus
        </button>

    </body>
    </html>
{{end}}


{{block "count" .}}
    Count : {{.Count}}
{{end}}