{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is home page</h1>
                <p>hello every body to visit here!</p>

                <img src="/static/images/dear.jpg" height="853" width="1280" alt="hi">
            </div>
        </div>
    </div>
{{end}}