{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="/static/images/majors-suite.png" class="img-fluid img-thumbnail">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">
                    Major's Suite
                </h1>
                <p>
                    Your home away form home, set on the majestic waters of the atlantic Ocean, this will be a vacation to
                    remember.
                    Your home away form home, set on the majestic waters of the atlantic Ocean, this will be a vacation to
                    remember.
                    Your home away form home, set on the majestic waters of the atlantic Ocean, this will be a vacation to
                    remember.
                    Your home away form home, set on the majestic waters of the atlantic Ocean, this will be a vacation to
                    remember.
                    Your home away form home, set on the majestic waters of the atlantic Ocean, this will be a vacation to
                    remember.
                    Your home away form home, set on the majestic waters of the atlantic Ocean, this will be a vacation to
                    remember.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a id="check-availability" href="#!" onclick="checkAvailability()" class="btn btn-success">Check Availability</a>
            </div>
        </div>
    </div>
{{end}}



{{define "js"}}
    <script>
        function checkAvailability() {
            const h = `
            <form id="check-availability-form-modal" action="" method="post" class="row needs-validation" novalidate>
                <div id="reservation-dates-modal" class="form-group col-10">
                    <div class="form-group row">
                        <div class="form-group col">
                            <input required type="text" class="form-control" id="start-modal" name="start-modal" placeholder="Arrival">
                        </div>
                        <div class="form-group col">
                            <input required class="form-control" type="text" id="end-modal" name="end-modal" placeholder="Departure">
                        </div>
                    </div>
                </div>
            </form>
        `;

            attention.custom({
                msg: h,
                title: "Choose your date",
                willOpen: () => {
                    const modalDate = document.getElementById('reservation-dates-modal');
                    const rp = new DateRangePicker(modalDate, {
                        format: 'yyyy-mm-dd',
                        showOnFocus: false,
                        minDate: new Date(),
                    });
                },
                preConfirm: () => {
                    return [
                        document.getElementById("start-modal").value,
                        document.getElementById("end-modal").value
                    ];
                },
                callback: result => {

                    const form = document.getElementById('check-availability-form-modal');
                    const formData = new FormData(form);

                    formData.append("csrf_token", "{{.CSRFToken}}");
                    formData.append("room_id", "2");

                    fetch('/search-availability-json', {
                        method: 'post',
                        body: formData,
                    })
                        .then(response => {
                            return response.json()
                        })
                        .then(data => {
                            if (data.Ok) {
                                attention.custom({
                                    icon: 'success',
                                    showConfirmButton: false,
                                    msg: '<p>Room is available!</p>'
                                        + '<p><a href="/book-room?id='
                                        + data.RomId
                                        + '&s='
                                        + data.StartDate
                                        + '&e='
                                        + EndDate
                                        + " class="btn btn-primary">Book Now! </a></p>'
                                })
                            } else {
                                attention.modal({msg: "No availability", icon: "error"})
                            }
                        })
                }
            });
        }
    </script>
{{end}}