{{template "base" .}}

{{define "content"}}
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="mt-5">
                    Make reservation
                </h1>

                <form action="" method="post" class="needs-validation" class="row g-3" novalidate>
                    <div class="form-group">
                        <label for="first_name" class="form-label">First name: </label>
                        <input required type="text" class="form-control" id="first_name" name="first_name"
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="form-label">Last name: </label>
                        <input required type="text" class="form-control" id="last_name" name="last_name"
                               autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-label">Email: </label>
                        <input required type="email" class="form-control" id="email" name="email" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="phone" class="form-label">Phone number: </label>
                        <input required type="text" class="form-control" id="phone" name="phone" autocomplete="off">
                    </div>

                    <div class="form-group mt-5">
                        <input type="submit" class="btn btn-primary" value="Make Reservation"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

{{end}}
