{{template "base" .}}

{{define "title"}}
    Virtual Terminals
{{end}}

{{define "content"}}
    <h1>virtual-terminal</h1>

    <p>hello this is virtual terminal page</p>
{{end}}

{{define "js"}}
{{end}}